body {
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(23, 23, 26);
    font-size: 19px;
    margin: 0;
    padding: 0;
}

#cabecera {
    display: flex;
    align-items: center;   
    background-color: #33A;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 6px -4px rgba(0,0,0,0.75);
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
    margin-right: 12px;
}

#cabecera #tagline {
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(66, 66, 77); 
    margin:  0 auto;
    margin-top: 23px;
    background-color: white;
    border-radius: 9px;
}

#container h1 {
    font-size: 20px;
    margin-top: 43px;
}

